.player {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 16px; //Junus über margin-left bei span gelöst
    background-color: rgba(128, 128, 128, 0.9);
    border-radius: 50px 0 0 50px;


    /*  @media (max-width: 600px) {
        width: 240px;
        gap: 8px;
    } */


    span {
        font-size: 32px;
        word-break: break-all;
        //margin-left: 16px;

        /*       @media (max-width: 600px) {
            font-size: 24px;
        } */

    }


    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;

        /*    @media (max-width: 600px) {
            width: 48px;
            height: 48px;
        }
 */
    }

}


.player-active {
    background-color: rgba(255, 166, 0, 0.9) !important;
}