.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/board.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.card-stack {
    position: relative;
    right: 80px;

    img {
        position: absolute;
        width: 120px;
        height: auto;

        @media (max-width: 600px) {
            width: 90px;
        }


    }


    @media (max-width: 600px) {
        right: 5px;
    }


}

.top-card {
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}


.played-card {
    right: 17.5px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(15deg);

    @media (max-width: 600px) {
        right: 17.5px;
        transform: scale(1.3) translateX(110px) translateY(-80px) rotate(15deg);
    }


}


.pick-card {
    animation: pick-card-animation 1.2s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(15deg);

    @media (max-width: 600px) {
        animation: pick-card-animation-mobile 1.2s ease-in-out;
        transform: scale(1.3) translateX(110px) translateY(-80px) rotate(15deg);
    }

}


@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(15deg);
    }
}


@keyframes pick-card-animation-mobile {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.3) translateX(110px) translateY(-80px) rotate(15deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.player-position-mobile {
    position: relative;
}


.flex-wrap {
    /*width: 75%; */
    position: absolute;
    top: 16px;
    left: 88px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;

    @media (max-width: 600px) {
        right: 16px;
        bottom: 16px;
    }
}

.btn-delete {
    position: absolute;
    right: 32px;
    bottom: 96px;

    @media (max-width: 600px) {
        right: 16px;
        bottom: 80px;
    }
}


.btn-startNewGame {
    position: absolute;
    left: 32px;
    top: 32px;

    @media (max-width: 600px) {
        left: 16px;
        top: 16px;
    }
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media (max-width: 600px) {
        left: 16px;
        bottom: 16px;
    }
}


